body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
}

/* background images */
:root {
  --base:              #f7392b;
  --bg-blend:          multiply;
  --blur:              0px;
  --fg-blend:          lighten;
  --foreground:        #16006f;
  --opacity:           1;
  --spacing:           1%;
}
.img-wrapper {
  background-color:    var(--base);
  display:             flex;
  flex:                1 1 100%;
  height:              100%;
  overflow:            hidden;
  padding:             var(--spacing);
  position:            relative;
}

.img-wrapper img {
  filter:              grayscale(100%) contrast(1) blur(var(--blur));
  flex:                1 0 100%;
  height:              100%;
  max-width:           100%;
  mix-blend-mode:      var(--bg-blend);
  object-fit:          cover;
  opacity:             var(--opacity);
  position:            relative;
  width:               100%;
}

.img-wrapper::before {
  background-color:    var(--foreground);
  bottom:              0;
  content:             '';
  height:              100%;
  left:                0;
  mix-blend-mode:      var(--fg-blend);
  position:            absolute;
  right:               0;
  top:                 0;
  width:               100%;
  z-index:             1;
}


.container {
  max-width: 920px;
  padding-right: 1rem;
  padding-left: 1rem;
  margin: auto;
  border-radius: 10px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.navbar {
  font-size: 20px;
  height: 3rem;
  background-color: #a2b9bc;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.15);
  border-radius: 35px;
  width: 100%;
  opacity: 75%;
  display: flex;
}

.nav-logo {
  cursor: pointer;
  background: transparent;
  font-size: 16px;
  border-radius: 3px;
  color: .2f436b;
}

table {
  border-collapse: collapse;
  margin: 35px 0;
  font-size: 0.85em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table caption {
  caption-side: top;
  font-size: 1.5em;
  font-weight: bold;
  color: .000;
  padding: 10px 15px;
  text-align: center;
}

table thead tr {
  background-color: #980072;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

table th,
table td {
  padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid .009879;
}

table tbody tr.active-row {
  font-weight: bold;
  color: .009879;
}

/* Matches sivu */
.matchPage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

/* Points */
.points-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

/* Rules */
.rules-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

/* Standings sivu */
.standings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}