body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  background: url(./logos/logo-1-bw.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.app-container {
  overflow-y: hidden;
  width: 100vw;
}

.rules-container {
  color: #fff;
  text-shadow: 1px 0 0 rgb(0,0,0), 0 -1px 0 rgb(0,0,0), 0 1px 0 rgb(0,0,0), -1px 0 0 rgb(0,0,0);
}

/* Navbar */
.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background: rgb(249, 146, 146);
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  opacity: 75%;
}

.navbar-title {
  color:rgb(249, 146, 146)
}

/*
.navbar {
  font-size: 20px;
  height: 3rem;
  background-color: #a2b9bc;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.15);
  border-radius: 35px;
  width: 100%;
  opacity: 75%;
  display: flex;
}

.nav-logo {
  cursor: pointer;
  background: transparent;
  font-size: 16px;
  border-radius: 3px;
  color: .2f436b;
} */
table {
  border-collapse: collapse;
  background-color: aliceblue;
  color: #000;
  text-shadow: none;
  -khtml-opacity: .75;
  -moz-opacity: .75;
  -ms-filter: ”alpha(opacity=75)”;
  filter: alpha(opacity=75);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.75);
  opacity: .75;
  margin: 35px 0;
  font-size: 0.85em;
  min-width: 400px;
  border-radius: 15px 15px 15px 15px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(11, 11, 11, 0.55);
}

table caption {
  /* caption-side: block-start; */
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  padding: 10px 15px;
  text-align: center;
}
/* 

table thead tr {
  background-color: #980072;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

table th,
table td {
  padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid .009879;
}

table tbody tr.active-row {
  font-weight: bold;
  color: .009879;
} */

/* Matches sivu */
.matchPage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  background: url(./logos/logo-2-bw.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.matchPage-table-container {
  -khtml-opacity: .8;
  -moz-opacity: .80;
  -ms-filter: ”alpha(opacity=80)”;
  filter: alpha(opacity=80);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.8);
  opacity: 0.8;
}

/* Points */
.points-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

/* Rules */
.rules-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

/* Standings sivu */
.standings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

/* Footer */
.footer {
  width:100%;
  height: 55px;
  position:sticky;
  bottom:0;
  left:0;
  color: #fff;
  border-radius: 15px 15px 15px 15px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(11, 11, 11, 0.55);
}